{% extends "base.html" %}
{% block title %}Event Form{% endblock %}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column">
            <form method="post">
            {{ form.hidden_tag() }}
            <div class="field">
                <label class="label">
                    {{ form.start_at.label }}
                </label>
                <div class="control">
                    {{ form.start_at() }}
                </div>
            </div>
            <div class="field">
                <label class="label">
                    {{ form.type.label }}
                </label>
                <div class="control">
                    <div class="select">
                        {{ form.type() }}
                    </div>
                    <p class="help is-info">
                        {{ form.type.description }}
                    </p>
                </div>
            </div>
            {% for entry in form.locations %}
            <div class="field">
                <label class="label">
                    {{ entry.label.text }}
                </label>
                <div class="control">
                    <!-- note that to render each input field we need to access form attribute -->
                    {{ entry.form.name.label.text }} {{ entry.form.name(class='input') }}
                </div>
            </div>
            {% endfor %}
            <div class="field is-grouped">
                <div class="control">
                    {{ form.add_location(class='button is-primary') }}
                </div>
                <div class="control">
                    {{ form.remove_location(class='button is-danger') }}
                </div>
            </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}