{% extends "base.html" %}
{% block content %}
<section class="section">
    <div class="columns">
        <div class="column">
            <form>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.name.label() }}
                    {{ form.name() }}
                </p>
                <p>
                    {{ form.email.label() }}
                    {{ form.email() }}
                </p>
            </form>
        </div>
    </div>
</section>
{% endblock %}